body{
    margin:0;
    background-color: white;
}

.nav
{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px;
    margin:auto;
    font-style: italic;
    background-image: linear-gradient(90deg, rgba(9, 204, 204, 0), rgb(9, 204, 204));
}
.news1
{
    width: fit-content;
    padding: 5px 5px 5px 5px;
    border: solid black 2px;
    box-sizing: content-box;
    justify-content: flex-start;
}
#news::after
{
    content: "24";
    color: red;
}
#mode
{
    font-size: 40px;
    cursor: pointer;
}
#mode:hover{
    box-shadow: 0px 0px 50px rgb(0, 0, 0);
}
#navright
{
    display: flex;
    list-style: none;
    justify-content: space-around;
    gap: 50px;
    padding: 10px;
    align-items: center;
}
#search{
    font-size: 30px;
    padding: 5px;
    cursor: pointer;
}
#search:hover{
    box-shadow: 0px 0px 50px rgb(0, 0, 0);
}
#searchnews
{
    width: 50%;
    height: 40px;
}

#todaynews
{
    width: 50%;
    text-align: center;
    font-size: 30px;
}


/* Cards for Newssss */
.container {
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(3, 1fr); 
}

.cards {
    width: 300px;
    background-color: rgb(216, 213, 213);
    margin: 50px;
    border-style: none;
    border-radius: 25px;
    box-shadow: 0px 20px 20px;
    padding: 10px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.cimage {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.cardtitle {
    font-weight: bold;
    margin-top: 10px;
}

.card_desc {
    margin-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/***     Dark Mode       ***/
.bodydark
{
    margin:0;
    background-color: black;
}
.navdark
{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px;
    margin:auto;
    font-style: italic;
    background-image: linear-gradient(90deg, rgb(140, 237, 5, 0), rgb(7, 56, 203)); 
}
.news1dark
{
    width: fit-content;
    padding: 5px 5px 5px 5px;
    border: solid white 2px;
    box-sizing: content-box;
    justify-content: flex-start;
}
.newsdark
{
    color: white;
}
.newsdark::after
{
    content: "24";
    color: red;
}
.news2dark
{
    display: flex;
    justify-content: center;
    text-align: center;
}
.modedark
{
    padding: 5px;
    font-size: 40px;
}

